Repository MelonRuntime/Melon, pull requests merged in 2022-09, with the labels that each got.

#140 Chore: Internal documentation updates
  projects/melon-docs/Index.md
  projects/melon-docs/MelonCommands.md
  projects/melon-docs/modules/GenericConstructors.md
  projects/melon-docs/modules/std.md
  projects/melon-types/std.d.ts
  projects/melon-types/types/std/Platform.ts
Labels: 📃 documentation

#142 Feat: async core implementations
  projects/melon-core/src/partials/modules/dotnet/_dotnet.ts
  projects/melon-core/src/partials/modules/dotnet/_loadAssemblyAsync.ts
  projects/melon-core/src/partials/modules/fs/_fs.ts
  projects/melon-core/src/partials/modules/fs/_readBytes.ts
  projects/melon-core/src/partials/modules/fs/_readBytesAsync.ts
  projects/melon-core/src/partials/modules/fs/_readText.ts
  projects/melon-core/src/partials/modules/fs/_readTextAsync.ts
  projects/melon-core/src/partials/modules/fs/_writeBytes.ts
  projects/melon-core/src/partials/modules/fs/_writeBytesAsync.ts
  projects/melon-core/src/partials/modules/fs/_writeText.ts
  projects/melon-core/src/partials/modules/fs/_writeTextAsync.ts
  projects/melon-core/src/partials/modules/http/_http.ts
  projects/melon-core/src/partials/modules/http/_request.ts
  projects/melon-core/src/partials/modules/http/_requestAsync.ts
  projects/melon-runtime/Melon.Library/Bundle/core.js
  projects/melon-types/dotnet/Dotnet.ts
  projects/melon-types/fs/Fs.ts
  projects/melon-types/http/Http.ts
Labels: 🧩 feature/implementation, 🔰 types

#148 fix(melon-types/melon-runtime): new command was generating invalid projects + types major fixes
  projects/melon-runtime/Melon.Engine/Builders/EngineBuilder.cs
  projects/melon-runtime/Melon.Library/Static/Database/PgStatic.cs
  projects/melon-runtime/Melon.Library/Static/Database/SqlServerStatic.cs
  projects/melon-runtime/Melon.Library/Static/Generic/Time.cs
  projects/melon-runtime/Melon.Library/Static/InternalBinding.cs
  projects/melon-runtime/Melon.Library/Static/InteropReflection/RealmManager.cs
  projects/melon-runtime/Melon.Library/Static/InteropReflection/ReflectionHelper.cs
  projects/melon-runtime/Melon.Library/Static/LibraryLoader.cs
  projects/melon-runtime/Melon.Library/Static/Web/Http.cs
  projects/melon-runtime/Melon.Models/Dotnet/RealmGroup.cs
  projects/melon-runtime/Melon.Models/Library/Http/HttpResponse.cs
  projects/melon-runtime/Melon.Static/Runtime.cs
  projects/melon-runtime/Melon.Tests/Melon/std/JsonTests.cs
  projects/melon-runtime/Melon.Tests/Melon/std/ShiftTests.cs
  projects/melon-runtime/Melon.Web/Extensions/WebApplicationExtensions.cs
  projects/melon-runtime/Melon.Web/Helpers.cs
  projects/melon-runtime/Melon.Web/Models/HttpApplication.cs
  projects/melon-runtime/Melon.Web/Models/HttpEcho.cs
  projects/melon-runtime/Melon.Web/Models/HttpEndpoint.cs
  projects/melon-runtime/Melon.Web/Tools/CallbackCallerTools.cs
  projects/melon-runtime/Melon.Web/Tools/HttpResultTools.cs
  projects/melon-runtime/Melon.Web/Tools/ResultManager.cs
  projects/melon-runtime/Melon.Web/WebApplicationManager.cs
  projects/melon-runtime/Melon/Builders/CommandContainerBuilder.cs
  projects/melon-runtime/Melon/Commands/LoadCommand.cs
  projects/melon-runtime/Melon/Commands/NewCommand.cs
  projects/melon-runtime/Melon/Extensions.cs
  projects/melon-runtime/Melon/Helpers.cs
  projects/melon-runtime/Melon/Program.cs
  projects/melon-runtime/Melon/Properties/Resources.Designer.cs
  projects/melon-runtime/Melon/Properties/Resources.resx
  projects/melon-types/main.d.ts
Labels: 🛠 fix, 🔰 types, 🍈 runtime

#149 fix(utils): normalized docker configurations to js and ts
  utils/js.model.Dockerfile
  utils/ts.model.Dockerfile
Labels: 📦 docker, 🛠 fix

#150 Create LICENSE
  LICENSE
Labels: 📃 documentation

#153 Feat(2.0.2): Fixed major issues
  projects/melon-runtime/.npmignore
  projects/melon-runtime/Melon.Library/Static/InteropReflection/ReflectionHelper.cs
  projects/melon-runtime/Melon.Web/Extensions/WebApplicationExtensions.cs
  projects/melon-runtime/Melon.Web/Tools/CallbackCallerTools.cs
  projects/melon-runtime/Melon/Builders/CommandContainerBuilder.cs
  projects/melon-runtime/Melon/Helpers.cs
  projects/melon-runtime/Melon/Melon.csproj
  projects/melon-runtime/Melon/Models/EngineAssemblerParameters.cs
  projects/melon-runtime/Melon/Program.cs
  projects/melon-runtime/package.json
  projects/melon-types/package.json
Labels: 🛠 fix, 🍈 runtime

#154 hotfix(types): incorrect types declaration file configuration
  projects/melon-types/package.json
Labels: 🛠 fix, 🔰 types

#155 hotfix(types): melon types not fetching types correctly
  projects/melon-types/data/Data.ts
  projects/melon-types/dotnet/Dotnet.ts
  projects/melon-types/fs/Fs.ts
  projects/melon-types/global.d.ts
  projects/melon-types/guards/Guards.ts
  projects/melon-types/http/Http.ts
  projects/melon-types/package.json
  projects/melon-types/std/Std.ts
Labels: 🛠 fix, 🔰 types

#156 hotfix(types): arguments in Melon.http.app function are not required
  projects/melon-types/global.d.ts
  projects/melon-types/package.json
Labels: 🛠 fix, 🔰 types

#162 feat(runtime/core): implemented new sync/async `fs` features
  projects/melon-core/src/partials/modules/fs/_copyFile.ts
  projects/melon-core/src/partials/modules/fs/_copyFileAsync.ts
  projects/melon-core/src/partials/modules/fs/_createDirectory.ts
  projects/melon-core/src/partials/modules/fs/_createDirectoryAsync.ts
  projects/melon-core/src/partials/modules/fs/_deleteDirectory.ts
  projects/melon-core/src/partials/modules/fs/_deleteDirectoryAsync.ts
  projects/melon-core/src/partials/modules/fs/_deleteFile.ts
  projects/melon-core/src/partials/modules/fs/_deleteFileAsync.ts
  projects/melon-core/src/partials/modules/fs/_fs.ts
  projects/melon-core/src/partials/modules/fs/_moveFile.ts
  projects/melon-core/src/partials/modules/fs/_moveFileAsync.ts
  projects/melon-core/src/partials/modules/fs/_renameFile.ts
  projects/melon-core/src/partials/modules/fs/_renameFileAsync.ts
  projects/melon-runtime/Melon.Library/Bundle/core.js
  projects/melon-runtime/Melon.Library/Static/InternalBinding.cs
Labels: 🍈 runtime, 🔥 core

#163 Revamp package.json scripts in melon-runtime
  projects/melon-core/package.json
  projects/melon-runtime/package.json
Labels: ♻ refactor/rework, 🍈 runtime

#165 2.1.0: `Melon.fs` feature implementations and minor runtime quality changes
  projects/melon-core/package.json
  projects/melon-core/src/default.d.ts
  projects/melon-core/src/index.ts
  projects/melon-core/src/partials/modules/dotnet/constructors/_Realm.ts
  projects/melon-core/src/partials/modules/fs/_copyFile.ts
  projects/melon-core/src/partials/modules/fs/_copyFileAsync.ts
  projects/melon-core/src/partials/modules/fs/_createDirectory.ts
  projects/melon-core/src/partials/modules/fs/_createDirectoryAsync.ts
  projects/melon-core/src/partials/modules/fs/_deleteDirectory.ts
  projects/melon-core/src/partials/modules/fs/_deleteDirectoryAsync.ts
  projects/melon-core/src/partials/modules/fs/_deleteFile.ts
  projects/melon-core/src/partials/modules/fs/_deleteFileAsync.ts
  projects/melon-core/src/partials/modules/fs/_fs.ts
  projects/melon-core/src/partials/modules/fs/_moveFile.ts
  projects/melon-core/src/partials/modules/fs/_moveFileAsync.ts
  projects/melon-core/src/partials/modules/fs/_renameFile.ts
  projects/melon-core/src/partials/modules/fs/_renameFileAsync.ts
  projects/melon-core/src/partials/statics/_Crypto.ts
  projects/melon-runtime/Melon.Library/Bundle/core.js
  projects/melon-runtime/Melon.Library/Static/InternalBinding.cs
  projects/melon-runtime/Melon.Tests/Melon/std/EnvironmentTests.cs
  projects/melon-runtime/Melon.Tests/Melon/std/SystemTests.cs
  projects/melon-runtime/Melon/Melon.csproj
  projects/melon-runtime/Melon/Properties/Resources.Designer.cs
  projects/melon-runtime/Melon/Properties/Resources.resx
  projects/melon-runtime/package.json
  projects/melon-types/index.d.ts
  projects/melon-types/package.json
  projects/melon-types/partials/modules/dotnet/constructors/_Realm.d.ts
  projects/melon-types/partials/modules/fs/_copyFile.d.ts
  projects/melon-types/partials/modules/fs/_copyFileAsync.d.ts
  projects/melon-types/partials/modules/fs/_createDirectory.d.ts
  projects/melon-types/partials/modules/fs/_createDirectoryAsync.d.ts
  projects/melon-types/partials/modules/fs/_deleteDirectory.d.ts
  projects/melon-types/partials/modules/fs/_deleteDirectoryAsync.d.ts
  projects/melon-types/partials/modules/fs/_deleteFile.d.ts
  projects/melon-types/partials/modules/fs/_deleteFileAsync.d.ts
  projects/melon-types/partials/modules/fs/_fs.d.ts
  projects/melon-types/partials/modules/fs/_moveFile.d.ts
  projects/melon-types/partials/modules/fs/_moveFileAsync.d.ts
  projects/melon-types/partials/modules/fs/_renameFile.d.ts
  projects/melon-types/partials/modules/fs/_renameFileAsync.d.ts
  projects/melon-types/partials/statics/_Crypto.d.ts
Labels: 🟢 release, 💻 linux-system, 💻 windows-system, 💻 macOS-system, 🔰 types, ☢ tests, 🍈 runtime, 🔥 core

#166 2.1.1: Compilation hotfix
  projects/melon-runtime/package.json
Labels: 💻 linux-system, 💻 windows-system, 💻 macOS-system, 🛠 fix, 🍈 runtime

#167 2.1.2: Re-implemented crypto module
  projects/melon-core/src/index.ts
  projects/melon-core/src/partials/modules/dotnet/constructors/_Realm.ts
  projects/melon-core/src/partials/statics/_Crypto.ts
  projects/melon-runtime/Melon.Library/Bundle/core.js
  projects/melon-runtime/Melon/Melon.csproj
  projects/melon-runtime/package.json
  projects/melon-types/index.d.ts
  projects/melon-types/package.json
  projects/melon-types/partials/statics/_Crypto.d.ts
Labels: 🟢 release, 💻 linux-system, 💻 windows-system, 💻 macOS-system, 🛠 fix, 🔰 types, ♻ refactor/rework, 🍈 runtime, 🔥 core

#168 Feat: `Melon.http.app` response headers implementation
  projects/melon-core/src/partials/modules/http/_result.ts
  projects/melon-core/src/partials/modules/http/_static.ts
  projects/melon-runtime/Melon.Library/Bundle/core.js
  projects/melon-runtime/Melon.Web/Extensions/WebApplicationExtensions.cs
  projects/melon-runtime/Melon.Web/Tools/HttpResultTools.cs
Labels: 🧩 feature/implementation, 🍈 runtime, 🔥 core
