Repository MelonRuntime/Melon, pull requests merged in 2022-07, with the labels that each got.

#115 Versions: [runtime|1.7.0-next.4] [types|1.9.0-next.2]
  npm-publish-runtime.cmd
  npm-publish-types.cmd
  package-lock.json
  package.json
  projects/melon-runtime/MelonJS/Commands/ExecCommand.cs
  projects/melon-runtime/MelonJS/Commands/InfoCommand.cs
  projects/melon-runtime/MelonJS/Commands/RunCommand.cs
  projects/melon-runtime/MelonJS/MelonJS.csproj
  projects/melon-runtime/MelonJS/Program.cs
  projects/melon-runtime/MelonJS/Properties/Resources.resx
  projects/melon-runtime/MelonJS/StaticData.cs
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/xrequire/__xrequire_dotnet__.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/xrequire/xrequire.js
  projects/melon-runtime/MelonJs.JavaScript/Containers/JintContainer.cs
  projects/melon-runtime/MelonJs.JavaScript/Extensions/EngineExtensions.cs
  projects/melon-runtime/MelonJs.JavaScript/MelonJs.JavaScript.csproj
  projects/melon-runtime/MelonJs.Models/FileSystem/MelonFile.cs
  projects/melon-runtime/MelonJs.Static/MelonDotnet.cs
  projects/melon-runtime/package.json
  projects/melon-types/lib/types/Tools/console.d.ts
  projects/melon-types/lib/types/Tools/xrequire.d.ts
  projects/melon-types/lib/types/main.d.ts
  projects/melon-types/package.json
  publish-runtime.cmd
  run-runtime.cmd
Labels: enhancement, release, linux-system, windows-system, macOS-system, tests

#116 Rework: Enumerable<T> and type declarations
  projects/melon-runtime/MelonJS/Program.cs
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Constructors/Enumerable.js
  projects/melon-types/lib/types/Constructors/Enumerable.d.ts
Labels: enhancement, fix, types

#117 Versions: [runtime|1.7.0-next.5] [types|1.9.0-next.4]
  projects/melon-runtime/MelonJS/Program.cs
  projects/melon-runtime/MelonJS/Properties/Resources.Designer.cs
  projects/melon-runtime/MelonJS/Properties/Resources.resx
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Constructors/Enumerable.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/console.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/fs.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/http.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/std.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/xrequire/__xrequire_dotnet_external__.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/xrequire/__xrequire_dotnet_internal__.js
  projects/melon-runtime/MelonJs.JavaScript/Bindings/Tools/xrequire/xrequire.js
  projects/melon-runtime/MelonJs.JavaScript/Extensions/EngineExtensions.cs
  projects/melon-runtime/MelonJs.JavaScript/MelonJs.JavaScript.csproj
  projects/melon-runtime/MelonJs.Static/MelonDotnet.cs
  projects/melon-runtime/MelonJs.Static/MelonDotnetExternal.cs
  projects/melon-runtime/MelonJs.Static/MelonDotnetInternal.cs
  projects/melon-runtime/MelonJs.WebApps/Tools/CallbackCallerTools.cs
  projects/melon-runtime/MelonJs.WebApps/Tools/HttpResultTools.cs
  projects/melon-runtime/MelonJs.WebApps/WebApplicationManager.cs
  projects/melon-runtime/package.json
  projects/melon-types/lib/types/Constructors/Enumerable.d.ts
  projects/melon-types/lib/types/Tools/fs.d.ts
  projects/melon-types/lib/types/Tools/http.d.ts
  projects/melon-types/lib/types/Tools/std.d.ts
  projects/melon-types/lib/types/Tools/xrequire.d.ts
  projects/melon-types/lib/types/Tools/xrequire.ts
  projects/melon-types/lib/types/main.d.ts
  projects/melon-types/package.json
Labels: enhancement, release, linux-system, windows-system, macOS-system, fix, types

#118 Version: [runtime|1.7.0-next.6]
  README.md
  package.json
  projects/melon-runtime/Commands/melon.js
  projects/melon-runtime/MelonJS/Commands/ExecCommand.cs
  projects/melon-runtime/MelonJS/Commands/ExitCommand.cs
  projects/melon-runtime/MelonJS/Commands/LoadCommand.cs
  projects/melon-runtime/MelonJS/Commands/RunCommand.cs
  projects/melon-runtime/MelonJS/Program.cs
  projects/melon-runtime/MelonJS/Properties/launchSettings.json
  projects/melon-runtime/MelonJs.JavaScript/Containers/JintContainer.cs
  projects/melon-runtime/MelonJs.JavaScript/Containers/MelonContainer.cs
  projects/melon-runtime/MelonJs.JavaScript/Extensions/EngineExtensions.cs
  projects/melon-runtime/package.json
  utils/static/lastversion.json
Labels: enhancement, release, linux-system, macOS-system

#121 Feat/docs
  projects/melon-docs/Index.md
  projects/melon-docs/getting-started/ExecutingCommands.md
  projects/melon-docs/getting-started/InstallingDotnetRuntime.md
  projects/melon-docs/getting-started/InstallingMelonViaNpm.md
  projects/melon-docs/projects/MelonProjectTree.md
  projects/melon-docs/the-basics/ExecutingCode.md
Labels: documentation, enhancement

#128 chore: architecture implementations + typings
  projects/melon-runtime/.npmignore
  projects/melon-runtime/Commands/melon.js
  projects/melon-runtime/Melon.Library/Http/http.js
  projects/melon-runtime/Melon.Library/Models/HttpResponse.cs
  projects/melon-runtime/Melon.Library/Models/PingReply.cs
  projects/melon-runtime/Melon.Library/Standard/guards.js
  projects/melon-runtime/Melon.Library/Standard/std.js
  projects/melon-runtime/Melon.Library/Static/InternalBinding.cs
  projects/melon-runtime/Melon.Library/Static/Web/Http.cs
  projects/melon-runtime/package.json
  projects/melon-types/AsyncLoop.d.ts
  projects/melon-types/AsyncTask.d.ts
  projects/melon-types/Enumerable.d.ts
  projects/melon-types/IndexedArray.d.ts
  projects/melon-types/Queue.d.ts
  projects/melon-types/console.d.ts
  projects/melon-types/data.d.ts
  projects/melon-types/fs.d.ts
  projects/melon-types/guards.d.ts
  projects/melon-types/http.d.ts
  projects/melon-types/main.d.ts
  projects/melon-types/package.json
  projects/melon-types/std.d.ts
  projects/melon-types/tsconfig.json
Labels: enhancement

#132 Version: 1.7.1 [hotfixes/refactors in runtime and types]
  CHANGELOG.md
  README.md
  projects/melon-md-docs/CreatingAndExecutingANewMelonProject.md
  projects/melon-md-docs/Index.md
  projects/melon-runtime/Melon.Engine/Builders/EngineBuilder.cs
  projects/melon-runtime/Melon.Library/Melon.Library.csproj
  projects/melon-runtime/Melon.Static/Melon.Static.csproj
  projects/melon-runtime/Melon.Static/Runtime.cs
  projects/melon-runtime/Melon.Tests/ScriptLibrary/Data/DataLibraryTests.cs
  projects/melon-runtime/Melon.Tests/ScriptLibrary/Data/EnumerableConstructorTests.cs
  projects/melon-runtime/Melon.Tests/ScriptLibrary/Standards/GuardsLibraryTests.cs
  projects/melon-runtime/Melon.Tests/ScriptLibrary/Standards/StdLibraryTests.cs
  projects/melon-runtime/Melon.Web/Melon.Web.csproj
  projects/melon-runtime/Melon/Builders/CommandContainerBuilder.cs
  projects/melon-runtime/Melon/Extensions.cs
  projects/melon-runtime/Melon/Helpers.cs
  projects/melon-runtime/Melon/Melon.csproj
  projects/melon-runtime/Melon/Models/EngineAssemblerParameters.cs
  projects/melon-runtime/Melon/Program.cs
  projects/melon-runtime/package.json
  projects/melon-types/main.d.ts
  projects/melon-types/package.json
Labels: 🟢 release, 💻 linux-system, 💻 windows-system, 💻 macOS-system, 🛠 fix, 🔰 types

#133 Version: 1.7.2 [hotfixes/refactors in runtime]
  projects/melon-runtime/Melon/Commands/LoadCommand.cs
  projects/melon-runtime/Melon/Commands/NewCommand.cs
  projects/melon-runtime/Melon/Melon.csproj
  projects/melon-runtime/Melon/Program.cs
  projects/melon-runtime/package.json
Labels: 🧩 feature/implementation, 🟢 release, 💻 linux-system, 💻 windows-system, 💻 macOS-system, 🛠 fix, ♻ refactor/rework

#136 📍 Hotfix(melon-types): fixed std global declaration
  projects/melon-types/package.json
  projects/melon-types/std.d.ts
Labels: 🟢 release, 🛠 fix, 🔰 types

#137 fix: Invoke the correct overload for static methods
  projects/melon-runtime/Melon.Library/Static/InteropReflection/ReflectionHelper.cs
Labels: 🧩 feature/implementation, 🛠 fix
